/* Fonts */

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans.woff2") format("woff2"),
         url("../fonts/PTSans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
         url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;  
}  

/* Variables */

:root {
--basic-black: #000000;
--basic-dark-ground: #503E33;
--basic-ground: #604E43;
--basic-light-ground: #766357;
--basic-dark-sky: #5496BD;
--basic-sky: #669EC0;
--basic-light-sky: #81B3D2;
--basic-border-pepel: #E5E5E5;
--basic-pepel: #EBEBEB;
--basic-light-pepel: #F2F2F2;
--basic-light: #EEEEEE;
--basic-white: #FFFFFF;

--special-black: #231F20;
--special-pepel: #BDBBBC;
--special-background: #808080;
--special-sorting-icone: #CACACA;
--special-rating: #666666;
--special-bg-rating: #F2F2F2;
}

/* Global */

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}
  
img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

/* Main-header */


/* Main-nav */

.main-nav {
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  background-color: transparent;
}

.site-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav-info,
.site-nav-media {
  text-align: left;
}

.site-nav-map,
.site-nav-current {
  text-align: right;
}

.site-nav-info {
  padding-left: 73px;
}

.site-nav-current {
  padding-right: 73px;
}

.site-nav a {
  color: var(--basic-black);
}

.site-nav a:hover {
  color: var(--basic-light-sky);
}

.site-nav a:focus {
  color: var(--basic-light-ground);
}

.site-nav a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-nav-current {
  color: var(--basic-light-ground);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* Invitation */

.invitation {
  background-color: var(--special-background);
  width: 1200px;
  height: 509px;
}

.picture {
  background-image: url(../img/background_photo.jpg);
  background-repeat:no-repeat;
  width: 1200px;
  height: 509px;
}

.pic {
  background-image: url(../img/welcome.svg);
  background-repeat: no-repeat;
  background-position: 371.38px 77.35px;
  width: 1200px;
  height: 509px;
}

.shape {
  background-image: url(../img/shape.png);
  background-repeat:no-repeat;
  background-position: bottom ;
  width: 1200px;
  height: 509px;
}

/* Slogan */

.slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.reasons {
  line-height: 26px;
}


/* Advantages-1-2 */

.advantage1, 
.advantage2 {
  color: var(--basic-white);
  background-color: var(--basic-light-sky);
}

.advantage1 {
  display: grid;
  grid-template-columns: 400px 800px;
  margin: 0;
  padding: 0;
}

.advantage2 {
  display: grid;
  grid-template-columns: 800px 400px;
  margin: 0;
  padding: 0;
}

/* Features */

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  margin-top: 60px;
  margin-bottom: 57px;
}

.feature-item h4 {
  font-size: 21px;
}

.feature-item p {
  margin: 25px 50px;
}

/* Advantages-3-4-5 */

.advantages {
  background-color: var(--basic-light);
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  min-height: 256px;
  list-style: none;
}

.advantage p,
.advantage-item p {
  margin: 25px 45px;
}

.advantage-item p {
  padding: 0 26px;
}

.advantage h3,
.advantage-item h3 {
  font-size: 21px;
  margin: 0 125px;
  margin-top: 47px;
}

/* Search */

.search span {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.search-item label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.search-item input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--basic-light-pepel);
  border: none;
}

.search-item input:hover {
  background-color: var(--basic-pepel);
}

.search-item input:focus {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-border-pepel);
  outline: none;
}

/* Button */

.button-popap {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-light-ground);
}

.button-popap:hover {
  background-color: var(--basic-ground);
}

.button-popap:active {
  background-color: var(--basic-dark-ground);
}

.button-search {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-light-sky);
  border: none;
}

.button-search:hover {
  background-color: var(--basic-sky);
}

.button-search:active {
  background-color: var(--basic-dark-sky);
  outline: none;
}

.filter-button {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  width: 137px;
  height: 36px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.filter-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.button-product {
  color: var(--basic-white);
  background-color: var(--basic-light-sky);
}

.button-product:hover {
  background-color: var(--basic-sky);
}

.button-product:active {
  background-color: var(--basic-dark-sky);
}

.button-reservation {
  color: var(--basic-white);
  background-color: var(--basic-light-ground);
}

.button-reservation:hover {
  background-color: var(--basic-ground);
}

.button-reservation:active {
  background-color: var(--basic-dark-ground);
}

/* Page-catalog */

.page-catalog {
  text-align: left;
}

/* Filters */

.filters {
  background-color: var(--special-background);
  color: var(--basic-white);
  width: 1200px;
  height: 217px;
}

.image {
  background-image: url(../img/background.png);
  background-repeat:no-repeat;
  width: 1200px;
  height: 217px;
}

.filter {
  display: grid;
  grid-template-columns: 254px auto max-content;
  margin: 0 73px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
}

.filter-checkbox {
  margin-left: -40px;
}

/* Catalog */

/* Sorting */

.sorting {
  display: flex;
  align-items: center;
  height: 86px;
  border-bottom: 1px solid var(--basic-border-pepel);
}

.sorting span {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 73px;
  margin-right: 46px;
}

.sorting h3 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 40px;
  margin-top: 5px;
}

.sorting-list {
  display: flex;
  flex-grow: 1;
  margin-top: 5px;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sorting-list a {
  margin-left: 33px;
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-light-sky);
}

.sorting-list a:hover {
  color: var(--basic-light-sky);
  opacity: 1;
}

.sorting-list a:focus {
  color: var(--basic-light-sky);
  border-bottom: none;
  opacity: 1;
}

.sorting-list a:active {
  color: var(--basic-black);
  border-bottom: none;
  opacity: 1;
}

.sorting-current {
  color: var(--basic-light-sky);
}

/* Sorting-icon */

.sorting-icon {
  margin-right: 73px;
  margin-top: 5px;
}

.icon-up {
  padding-left: 10px;
  fill: var(--special-sorting-icone);
}

.icon-up:hover {
  fill: var(--basic-black);
}

.icon-up:focus,
.icon-up:active {
  fill: var(--basic-light-sky);
}

/* Catalog-list */

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-item {
  display: flex;
  align-items: flex-end;
  height: 150px;
  border-bottom: 1px solid var(--basic-border-pepel);
}

.catalog-item-image {
  width: 135px;
  height: 90px;
  margin-left: 73px;
  margin-right: 29px;
  margin-bottom: 30px;
}

.catalog-item-product {
  flex-grow: 1;
  margin-bottom: 15px;
}

.heading a {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.heading a:hover {
  color: var(--basic-light-sky);
}

.heading a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-item span {
  color: var(--special-rating);
  background-color: var(--special-bg-rating);
}

.catalog-item-rating {
  margin-right: 73px;
  margin-bottom: 30px;
}

.stars {
  width: 91px;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: space;
  margin-bottom: 50px;
}

.stars3 {
  width: 66px;
  margin-left: 25px;
}

.stars2 {
  width: 42px;
  margin-left: 49px;
}

/* Main-footer */

.main-footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/* Contacts */

.contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  margin-left: 73px;
  width: 327px;
}

.hashtag, .phone {
  color: inherit;
}

/* Social button */

.social-list {
  display: flex;
  list-style: none;
}

.social-button {
  color: inherit;
  background-color: var(--basic-light-sky);
}

.social-button:hover {
  background-color: var(--basic-sky);
}

.social-button:active {
  background-color: var(--basic-dark-sky);
}

/* Footer-copyright */

.footer-copyright {
  margin-right: 73px;
  width: 327px;
}

.logo-icone {
  fill: var(--special-black);
}

.logo-icone:hover {
  fill: var(--basic-light-sky);
}

.logo-icone:active {
  fill: var(--special-pepel);
}